.numbutton{
    font-size: 18px;
    text-align: center;
    background: #e0e0e0;
    color: black;

}
.symbutton{
    font-size: 18px;
    text-align: center;
    background: #f5923e;
    color: #fff;

}