.container{
    flex-wrap: "nowrap | wrap | wrap-reverse";
    margin : auto 0px auto 0px ;
    padding:0px 0px 0px 0px;
    min-width: auto;
  }

  .col-lg-3 {
      padding:0px 0px 0px 0px;
  }
  .col-md-6, .col-md-3, .col-md-3{
    padding:0px 0px 0px 0px;

  }
  .row {
    margin:0px 0px 0px 0px;
}

  



 
.numButton{
    min-width: 100%;
    min-height: 17vh;
    font-size: 40px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    
    text-align: center;
    background: #e0e0e0;
    color: black;
    font-weight: bold;
}
.symButton{
    min-width: 100%;
    width : 100%;
    min-height: 17vh;
    font-size: 40px;
    text-align: center;
    background: #f5923e;
    color: #fff;  
    font-weight: bold;

    margin:0px 0px 0px 0px;
      padding:0px 0px 0px 0px;
}


/*
 @media (min-width : 900px){
   

    .numButton, .symButton {
        width :150px;

    }
}
    @media (min-width : 600px){

       
        .numButton, .symButton {
            width :100px;
    
        }
    }


*/
