
.col-3 {
    padding:0px 0px 0px 0px;
}
.col-6 {
    padding:0px 0px 0px 0px;
}

.col-wide{
    color:black;
    min-width: 100%;
    min-height: 16vh;
    font-size: 70px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;    
    text-align: center;
    background: #e0e0e0;
    color: black;  
}
.orange{
    min-width: 100%;   
    min-height: 16vh;
    font-size: 70px;
    text-align: center;
    background: #f5923e;
    color: #fff;  
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
.white{
    color:black;
    min-width: 100%;
    min-height: 16vh;
    font-size: 70px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;    
    text-align: center;
    background: #e0e0e0;
    color: black;   

}