
.col-3 {
    padding:0px 0px 0px 0px;
}
.col-6 {
    padding:0px 0px 0px 0px;
}

.col-wide{
    color:black;
    min-width: 100%;
    min-height:14.85vh;
    font-size: 70px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;    
    text-align: center;
    background: #e0e0e0;
    color: black;  
}
.orange{
    min-width: 100%;   
    min-height:14.85vh;
    font-size: 70px;
    text-align: center;
    background: #f5923e;
    color: #fff;  
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
.white{
    color:black;
    min-width: 100%;
    min-height: 14.85vh;
    font-size: 70px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;    
    text-align: center;
    background: #e0e0e0;
    color: black;   

}
@media (min-height: 295px) {
    .white, .orange, .col-wide {
      font-size: 20px;
      min-height:14.2vh;
      
      
    }
  }

@media (min-height: 400px) {
    .white, .orange, .col-wide {
      font-size: 25px;
      min-height:14.45vh;
      
      
    }
  }
  
  @media (min-height: 500px) {
    .white, .orange, .col-wide {
        font-size: 30px;
        min-height:13.85vh;
       
      }
  }
  
  @media (min-height: 600px) {
    .white, .orange, .col-wide {
        font-size: 40px;
        min-height:14.85vh;
        
      }
  }
  
  @media (min-height: 1000px) {
    .white, .orange, .col-wide {
        font-size: 70px;
       
      }
  }
  