
.output{
   
    height: 120px;
    font-size: 100px;
    background: #858694;
    color: white;
    text-align: right;
    
    border : 1px white;
    margin:0px;
    padding:0px;
    font-weight: 200px;
    line-height: -20px;
   
    

}
