.navbar {
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background: rgb(29, 29, 29);
    height: 10vh;
}

h3{
    font-size: 4vh;
    color:white;   
    margin-left: 15px;
}

h3:hover{
    
    color:orange;    
    
    
}
.navbar-light .navbar-brand { 
    font-size: 4vh;
    color:orange;
}

.navbar-light .navbar-brand :hover {      
    
    color:blue;
}
